* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PINK: hsl(322, 100%, 66%);
  --VERY-PALE-CYAN: hsl(193, 100%, 96%);
  --VERY-DARK-CYAN: hsl(192, 100%, 9%);
  --GRAYISH-BLUE: hsl(208, 11%, 55%);
}

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* font-size: 18px; */
}

section.main {
  background-image: url(./images/bg-hero-mobile.svg);
  padding: 0px 1.5rem;
  margin-bottom: 6rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  background-image: url(./images/bg-hero-mobile.svg);
}

.header-top img {
  width: 100px;
  height: 16px;
}

button.try {
  border: 0;
  font-family: inherit;
  font-size: .6rem;
  padding: .3rem 1.4rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 7px 0px rgb(201, 201, 201);
}

.hero-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero-info h1, .card1 h2, .card2 h2, .card3 h2{
  margin: 4rem 0rem 1rem 0rem;
}

h1 {
  font-size: 2rem;
}

.hero-info p {
  font-family: "Open Sans", sans-serif;
  margin-top: 2rem;
}

button.hero {
  margin: 2rem 0rem;
  background-color: var(--PINK);
  color: white;
  font-weight: bold;
  padding: .8rem 3.8rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 7px 7px 13px -7px rgba(199,199,199,1);
}

button.hero:hover, button.try:hover {
  opacity: .7;
  cursor: pointer;
}

.hero-info img {
  width: 360px;
  height: 230px;
}

.card1, .card2, .card3 {
  margin: 2.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px 0px rgba(176,176,176,1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card1 img, .card2 img, .card3 img {
  width: 250px;
  height: 180px;
}

.card1 p, .card2 p, .card3 p {
  font-family: "Open Sans", sans-serif;
  font-size: .9rem;
  color: var(--GRAYISH-BLUE);
}

.ready {
  border-radius: 1rem;
  padding: 1.7rem 1rem;
  margin: 0rem .5rem;
  text-align: center;
  position: relative;
  top: 110px;
  background-color: white;
  box-shadow: 1px 1px 3px 0px rgba(176,176,176,1);
}

footer {
  background-color: var(--VERY-DARK-CYAN);
  padding: 9rem 1rem .5rem 1rem;
}

footer p {
  font-family: "Open Sans", sans-serif;
  color: var(--VERY-PALE-CYAN);
}

.footer-logo {
  width: 150px;
  height: 24px;
}

.contact-grid {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 1rem;
}

.center {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--VERY-PALE-CYAN);
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}

.right {
  color: var(--VERY-PALE-CYAN);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0rem;
}

.copyright {
  text-align: center;
  font-size: .7rem;
}

i:hover {
  color: var(--PINK);
}

@media only screen and (min-width: 450px) {

  body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  section.main, .header-top {
    background-image: url(./images/bg-hero-desktop.svg);
    max-width: 1000px;
    margin: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 30rem;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    max-width: 1000px;
  }

  .main img {
    width: 460px;
    height: 328px;
  }

  .card1, .card2, .card3 {
    flex-direction: row;
    box-shadow: none;
    text-align: left;
    align-items: center;
    gap: 10rem;
    max-width: 1000px;
    margin: auto;
  }  

  .card1, .card3 {
    flex-direction: row-reverse;
  }

  .card1 h2, .card2 h2, .card3 h2 {
    margin: 0;
  }

  .ready {
  margin: 0rem 20%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    justify-items: center;
    padding: 9rem 2rem 0.5rem 4rem;
  }

  .center {
    grid-template-columns: 1fr 1fr;
  }
  .copyright {
    text-align: right;
  }
}