* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --PINK: hsl(322, 100%, 66%);
  --VERY-PALE-CYAN: hsl(193, 100%, 96%);
  --VERY-DARK-CYAN: hsl(192, 100%, 9%);
  --GRAYISH-BLUE: hsl(208, 11%, 55%);
}

html {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

header {
  background-color: var(--VERY-PALE-CYAN);
  background-image: url(./images/bg-hero-desktop.svg);
}

section.main {
  padding: 0px 1.5rem;
  margin-bottom: 6rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
}

.header-top img {
  /* width: 100px;
  height: 16px; */
}

button.try {
  border: 0;
  font-family: inherit;
  font-size: 0.7rem;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 2px 7px 0px rgb(201, 201, 201);
}

.hero-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hero-info h1,
.card1 h2,
.card2 h2,
.card3 h2 {
  margin: 4rem 0rem 1rem 0rem;
}

h1 {
  font-size: 2rem;
}

.hero-info p {
  font-family: "Open Sans", sans-serif;
  margin-top: 2rem;
}

button.hero {
  margin: 2rem 0rem;
  background-color: var(--PINK);
  color: white;
  font-weight: bold;
  padding: 0.8rem 3.8rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 7px 7px 13px -7px rgba(199, 199, 199, 1);
}

button.hero:hover,
button.try:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hero-info img {
  width: 360px;
  height: 230px;
}

.card1,
.card2,
.card3 {
  margin: 2.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px 0px rgba(176, 176, 176, 1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card1 img,
.card2 img,
.card3 img {
  width: 250px;
  height: 180px;
}

.card1 p,
.card2 p,
.card3 p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: var(--GRAYISH-BLUE);
}

.ready {
  border-radius: 1rem;
  padding: 1.7rem 1rem;
  margin: 0rem 0.5rem;
  text-align: center;
  position: relative;
  top: 110px;
  background-color: white;
  box-shadow: 1px 1px 3px 0px rgba(176, 176, 176, 1);
}

footer {
  background-color: var(--VERY-DARK-CYAN);
  padding: 9rem 1rem 0.5rem 1rem;
}

footer p {
  font-family: "Open Sans", sans-serif;
  color: var(--VERY-PALE-CYAN);
}

.footer-logo {
  width: 150px;
  height: 24px;
}

.contact-grid {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 1rem;
}

.center {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--VERY-PALE-CYAN);
  font-family: "Open Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}

.right {
  color: var(--VERY-PALE-CYAN);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0rem;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
}

i:hover {
  color: var(--PINK);
}

@media only screen and (min-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    margin-bottom: 5rem;
    max-width: 1440px;
    background-image: url(./images/bg-hero-desktop.svg);
    padding: 2rem 3rem 0rem 3rem;
  }

  .header-top img {
    width: 150px;
    height: 24px;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 3rem; */
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 40%;
  }

  .main img {
    width: 670px;
    height: 478px;
  }

  .card1,
  .card2,
  .card3 {
    flex-direction: row;
    box-shadow: 1px 1px 6px 0px rgba(176, 176, 176, 1);
    text-align: left;
    align-items: center;
    gap: 7rem;
    max-width: 1440px;
    padding: 2rem 2rem 2rem 6rem;
  }

  .card1,
  .card3 {
    flex-direction: row-reverse;
  }

  .card-info {
    max-width: 40vw;
  }

  .card1 h2,
  .card2 h2,
  .card3 h2 {
    margin: 0;
  }

  .card1 img,
  .card2 img,
  .card3 img {
    width: 350px;
    height: 264px;
  }

  .ready {
    margin: 0rem 20%;
  }

  footer {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    justify-items: center;
    padding: 10rem 2rem 1rem 5rem;
  }

  .left {
    margin-bottom: 1rem;
  }

  .center {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
  
  .right {
    align-items: start;
  }
}
